.modal-pago {
  display: none;
  position: fixed;
  z-index: 20000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #111111;
}

.modal-pago-content {
  background-color: #111111;
  width: 100%;
  max-width: 650px;
  padding: 20px;
  text-align: center;
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.pago-title {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 6px;
  color: white;
  text-shadow: 2px 2px 2px black;
  border-bottom: solid 1px white;
  display: flex;
  align-items: center; /* Alinea verticalmente los elementos */
  background-color: transparent; /* Anula el fondo negro */
}

.monto-pedido {
  margin-left: auto; /* Mueve el logo a la derecha */
  color: var(--gold-crayola);
}

.pago-user-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
}

.pago-input-box:nth-child(2n) {
  justify-content: end;
}

.pago-input-box {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  padding-bottom: 15px;
}

.pago-input-box label {
  width: 95%;
  color: white;
  font-size: 14px;
  font-weight: 400;
  margin: 5px 0;
  text-align: left; /* Alinea el texto del label a la izquierda */
}

.pago-input-box input {
  height: 40px;
  width: 95%;
  border-radius: 7px;
  outline: none;
  border: 1px solid grey;
  padding: 0 10px;
}

.metodos-title {
  color: white;
  font-size: 16px;
  font-weight: 600;
}

.metodos-details-box {
  text-align: left; /* Alinea el texto del label a la izquierda */
}

.metodos-category {
  margin: 15px 0;
  color: white;
}

.metodos-category label {
  padding: 0 20px 0 5px;
}

.metodos-category label,
.metodos-category input,
.pago-submit-btn input {
  cursor: pointer;
  font-size: 14px;
}

.pago-submit-btn {
  margin-top: 40px;
  display: flex; /* Agregado para el contenedor de botones */
  justify-content: space-between; /* Agregado para espaciar los botones */
}

.pago-submit-btn button {
  width: 48%; /* Reducir el ancho de los botones para dejar espacio entre ellos */
  font-size: 14px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  color: rgb(255, 255, 255);
  border: 0.5px solid hsl(38, 88%, 75%);
  background: #111;
}

.pago-submit-btn button:hover {
  background: hsl(38, 88%, 75%);
  color: rgb(0, 0, 0);
}


.yapeOptions, .plinOptions {
  display: none; /* Ocultar inicialmente */
  align-items: center; /* Alinea los elementos verticalmente al centro */
  justify-content: center; /* Alinea los elementos horizontalmente al centro */
}

.qr-container {
  margin-right: 5px; /* Ajusta el margen derecho del contenedor del QR */
}

.qr-yape, .qr-plin {
  width: 100px; /* Ajusta el ancho de la imagen */
  height: auto; /* Permite que la altura se ajuste automáticamente */
}

.input-container {
  display: flex;
  justify-content: center; /* Alinea el input al centro */
}

.input-yape, .input-plin {
  width: 200px; /* Ajusta el ancho del input */
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}


@media (max-width: 600px) {
  .modal-pago-content {
      min-width: 280px;
      padding: 0 20px; /* Añade padding horizontal para evitar que el contenido toque los bordes */
      box-sizing: border-box; /* Asegúrate de que el padding no afecte el ancho total */
      transform: translate(-50%, -50%) scale(0.9); /* Opcional: reduce un poco el tamaño para más espacio */
  }

  .pago-input-box {
      margin-bottom: 12px;
      width: 100%;
  }

  .pago-input-box:nth-child(2n) {
      justify-content: space-between;
  }

  .metodos-category {
      display: flex;
      justify-content: space-between;
      width: 100%;
  }

  .pago-user-info {
      max-height: 380px;
      overflow: auto;
  }

  .pago-user-info::-webkit-scrollbar {
      width: 0;
  }
}
