* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: black;
    background-size: cover;
  }
  
  .container {
    width: 100%;
    max-width: 650px;
    background: #111;
    padding: 28px;
    margin: 0 28px;
    border-radius: 10px;
  }
  
  .form-title {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 6px;
    color: white;
    text-shadow: 2px 2px 2px black;
    border-bottom: solid 1px white;
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos */
  }
  
  .main-user-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
  }
  
  .user-input-box:nth-child(2n) {
    justify-content: end;
  }
  
  .user-input-box {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 15px;
  }
  
  .user-input-box label {
    width: 95%;
    color: white;
    font-size: 14px;
    font-weight: 400;
    margin: 5px 0;
  }
  
  .user-input-box input {
    height: 40px;
    width: 95%;
    border-radius: 7px;
    outline: none;
    border: 1px solid grey;
    padding: 0 10px;
  }
  
  .gender-title {
    color:white;
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid white;
  }
  
  .gender-category {
    margin: 15px 0;
    color: white;
  }
  
  .gender-category label {
    padding: 0 20px 0 5px;
  }
  
  .gender-category label,
  .gender-category input,
  .form-submit-btn input {
    cursor: pointer;
  }
  
  .form-submit-btn {
    margin-top: 40px;
    display: flex; /* Agregado para el contenedor de botones */
    justify-content: space-between; /* Agregado para espaciar los botones */
  }
  
  .form-submit-btn input {
    width: 48%; /* Reducir el ancho de los botones para dejar espacio entre ellos */
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    border: 0.5px solid hsl(38, 88%, 75%);

    background: #111
  }
  
    .form-submit-btn input:hover {
    background: hsl(38, 88%, 75%);
    color: rgb(0, 0, 0);
    }

    .logo {
    width: 60px; /* Ajusta el ancho del logo según tu preferencia */
    height: auto; /* Para mantener la proporción de aspecto */
    margin-left: auto; /* Mueve el logo a la derecha */
    }
      
  @media(max-width: 600px) {
    .container {
      min-width: 280px;
    }
  
    .user-input-box {
      margin-bottom: 12px;
      width: 100%;
    }
  
    .user-input-box:nth-child(2n) {
      justify-content: space-between;
    }
  
    .gender-category {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  
    .main-user-info {
      max-height: 380px;
      overflow: auto;
    }
  
    .main-user-info::-webkit-scrollbar {
      width: 0;
    }
  }
  