/* Estilos para el dropdown */
.ingredientes-adicionales {
    position: relative;
    display: inline-block;
    text-align: left;
    padding-left: 9px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 8px;
}


.btn-agregados{
    font-size: 12px;
    margin-bottom: 8px;
}
.dropdown-content {
    margin-left: 1px;
    overflow: hidden; /* Oculta cualquier contenido que se desborde */
    max-height: 0; /* Inicialmente oculta el contenido */
    opacity: 0; /* Inicialmente oculta el contenido */
    transition: max-height 0.3s ease, opacity 0.3s ease; /* Transición suave de altura y opacidad */
}

.dropdown-content.visible {
    max-height: 200px; /* Altura máxima cuando tiene la clase visible */
    opacity: 1; /* Hace el contenido visible con opacidad completa */
}



/* Estilos para los checkboxes y su cantidad */
.checkbox-quantity-wrapper {
    display: flex; /* Mostrar elementos en línea */
    align-items: center; /* Alinear verticalmente */
    justify-content: space-between; /* Distribuir espacio entre los elementos */
    margin-bottom: 6px; /* Espacio entre cada wrapper */
}

.checkbox-wrapper {
    display: flex; /* Mostrar elementos en línea */
    align-items: center; /* Alinear verticalmente */
    cursor: pointer;
}

.checkbox-wrapper input[type="checkbox"] {
    /* Estilo base del checkbox */
    width: 15px;
    height: 15px;
    margin-right: 6px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid rgb(34, 34, 34);
    background-color: #111; /* Fondo inicial del checkbox */
}

/* Cambiar el estilo del checkbox cuando está marcado */
.checkbox-wrapper input[type="checkbox"]:checked {
    background-color: var(--gold-crayola); /* Cambia el fondo cuando está marcado */
    border-color: black; /* Borde negro cuando está marcado */
}

/* Estilo del "visto" dentro del checkbox cuando está marcado */
.checkbox-wrapper input[type="checkbox"]:checked::after {
    content: '✔'; /* Símbolo de visto */
    display: block;
    text-align: center;
    font-size: 12px;
    color: black; /* Color del visto */
    line-height: 15px; /* Alinear verticalmente */
}


.checkbox-wrapper label {
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: #c4c3c3;
    cursor: pointer;

}

#dropdownLabel.active::after {
    content: '\25B2'; /* Código Unicode para la flecha hacia arriba */
    display: inline-block;
    margin-left: 5px; /* Espacio entre el texto y la flecha */
    font-size: 9px; /* Tamaño de la flecha */
}

.checkbox-wrapper span {
    margin: 0;
    padding: 0;
    font-size: 11px;
    color: #c4c3c3;
    cursor: pointer;

}

.ingredient-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    min-height: 20px; /* Altura mínima del contenedor */
}


.quantity-buttons {
    display: inline-block;
    margin-right: 9px;
}

.quantity-buttons button {
    width: 20px; /* Ancho más pequeño */
    height: 20px; /* Alto más pequeño */
    font-size: 12px; /* Tamaño de fuente más pequeño */
    line-height: 1; /* Ajuste opcional del tamaño del botón */
    text-align: center; /* Alinear el texto horizontalmente */
    vertical-align: middle; /* Centrar verticalmente el contenido dentro del botón */
    padding: 0; /* Eliminar cualquier relleno interno */
    margin: 0; /* Eliminar cualquier margen */
}

.quantity-buttons span {
    margin: 0 5px;
}


