@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');


:root {
    --gold-crayola: hsl(38, 88%, 75%);
    --quick-silver: hsla(0, 0%, 65%, 1);
    --davys-grey: hsla(30, 3%, 34%, 1);
    --smoky-black-1: hsla(40, 12%, 5%, 1);
    --smoky-black-2: hsla(30, 8%, 5%, 1);
    --smoky-black-3: hsla(0, 3%, 7%, 1);
    --eerie-black-1: hsla(210, 4%, 9%, 1);
    --eerie-black-2: hsla(210, 4%, 11%, 1);
    --eerie-black-3: hsla(180, 2%, 8%, 1);
    --eerie-black-4: hsla(0, 0%, 13%, 1);
    --white: hsla(0, 0%, 100%, 1);
    --white-alpha-20: hsla(0, 0%, 100%, 0.2);
    --white-alpha-10: hsla(0, 0%, 100%, 0.1);
    --black: hsla(0, 0%, 0%, 1);
    --black-alpha-80: hsla(0, 0%, 0%, 0.8);
    --black-alpha-15: hsla(0, 0%, 0%, 0.15);
    --box-shadow: 0.0rem 1.5rem rgba(0, 0, 0, .1);

        /* SPACING */
    --section-space: 70px;

    /*SHADOW*/
    --shadow-1: 0px 0px 25px 0px hsla(0, 0%, 0%, 0.25);

    /* BORDER RADIUS */
    --radius-24: 24px;
    --radius-circle: 50%;

    /*TRANSITION */
    --transition-1: 250ms ease;
    --transition-2: 500ms ease;
    --transition-3: 1000ms ease;

}


* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all .2s linear;
}


html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
    scroll-padding-top: 20px;
    background-color: black;

}


/** HEADER */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: black;
    padding: 1rem 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 3000;
    box-shadow: 0 0 10px rgba(175, 175, 175, 0.253);
}




header .navbar a,
.reiniciar, .price
 {
    font-size: 1.3rem;
    border-radius: 3rem;
    padding: .5rem 1rem;
    color: white;
    display: inline-block;


}




header .navbar a.active,
header .navbar a:hover {
    color: rgb(0, 0, 0);
    font-weight: bold;
    background: var(--gold-crayola);
}


.cart-button {
    font-size: 1.3rem;
    padding: .5rem 1rem;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    color: white;
    cursor: pointer;
}
.prueba{
    border:1px solid var(--gold-crayola);
    border-radius: 3rem;


}


.platos section{
    scroll-margin-top:100px;


}
.price{
    background: var(--gold-crayola);
    color: black;
    font-weight: bold;
}


.logo img {
    width: 120px;
    height: 70px;
    object-fit: cover;
}


.price::before {
    content: "\f07a";
    font-family: 'FontAwesome';
    margin-right: 10px;
    font-size: 12px;
}




/* Desactivar la sombra azul al hacer clic en dispositivos móviles para divs e íconos */
div, i {
    -webkit-tap-highlight-color: transparent;
    -tap-highlight-color: transparent;
}
.white-text {
    color: white;
}


/* CUERPO */


main {
    padding: 1rem 4%;
    margin-top: 120px;
}


.platos h2 {
    color: white;
}


#sanguches-container, #salchipapas-container, #choripapas-container, #parrilladas-container, #refrescos-container, #infusiones-container, #tomar-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px; /* Espacio entre las columnas y filas */
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    place-items: center;
}


.producto {
    background-color: #111111;
    padding: 15px;
    margin: 10px;
    text-align: center;
    border: none;
    width: 200px; /* Ajusta el ancho según tus necesidades */
    margin: 10px;


   
  }
  .producto:hover {
    cursor: pointer;
}

  .producto-imagen {
    max-width: 100%; /* Ajusta el ancho máximo de la imagen según sea necesario */
   
  }
 
  .producto-nombre {
    font-size: 1.2em;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: #111111;
    margin-top: 15px;


  }
 
  .producto-precio {
    color: rgb(255, 255, 255);
    background-color: #111111;
    margin-top: 10px;




  }


  /* MODAL */


  .modal {
    display: none; 
    position: fixed;
    z-index: 20000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
    padding-top: 80px;
    border: none;
    align-items: center;
    justify-content: center;
    margin: auto; 
}

.modal-content {
    margin: auto;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #111111;
    width: 80%;
    max-width: 350px;
    max-height: 90%;
    color: white;
}




.info-modal  {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}


.modal-name {
    font-size: 15px;
    font-weight: bold;
    background-color: transparent;


}
.modal-price {
    font-size: 15px;
    font-weight: bold;
    background-color: transparent;


}


.info-modal h2,.info-modal h2, div {
    background-color: transparent;
}


.indicaciones-esp{
 
        border: 1px solid rgb(32, 31, 31);  
        resize: none;  
        width: 94.5%;  
        height: 100%;  
        background-color: #111111;
        color: white;
        margin-left: 9px;


}
.modal-content button{


    color: white;
    background-color: transparent;


}


.close {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 30px;
    color: #aaa;
    cursor: pointer;
    background-color: transparent;


}


.close:hover,
.close:focus {
    color: black;
}


.img-modal {
    width: 100%;
    height: 300px;
    overflow: hidden;
}


.img-modal img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}




.opciones-modal{
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    padding: 10px;
}




.opciones-modal button {
    border: 1px solid rgb(34, 34, 34);
    padding: 2px 8px;
    border-radius: 0%;
}


.quantity {
    display: flex;
    align-items: center;
    background-color: transparent;


}


.quantity button {
    cursor: pointer;
    font-size: 16px;
}

.quantity button:hover {
    background-color: var(--gold-crayola);
    color: rgb(0, 0, 0);
    font-weight: bold;
}



.quantity span {
    margin: 0 10px;
    font-size: 12px;
    background-color: transparent;
}




.modal-description {
    margin-top: 10px;
    background-color: transparent;
}




.addToCartButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}


.addToCartButton:hover, .addToCartButton:active
{
    background-color: var(--gold-crayola);
    color: rgb(0, 0, 0);
    font-weight: bold;
}


/* SIDEBAR*/


.cart-sidebar {
    position: fixed;
    top: 0;
    right: -21%; /* Oculto inicialmente */
    width: 21%; /* Ancho del 26% de la pantalla */
    height: 100%;
    background-color: #111111;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    transition: right 0.3s ease; 
}


.cart-sidebar.show {
    right: 0; /* Cuando se añade la clase 'show', el sidebar se desliza hacia la vista */
}


.cart-text, .close-btn{
    font-size: 12px;
    margin-top: 100px;
    background-color: transparent;
}


.underline {
    border: none;
    margin-top: 10px;
    border-top: 0.5px solid white;
}

.row {
    margin-bottom: 5px;
}


.close-btn {
    position: absolute;
    right: 20px;
    background: none;
    border: none;
    color: white;
    font-size: 12px;
    cursor: pointer;
}


.cart-edit-button,
.cart-delete-button {
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
}


.cart-edit-button i,
.cart-delete-button i {
    color: white;
    margin-right: 3px;
}


.cart-quantity,
.cart-product-name,
.cart-price,
.cart-item,
.cart-notes
.cart-add{
    background-color: #111111;
}


.button-row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.button-row button {
    margin-left: 10px;
}


.cart-notes, .cart-add{
    font-size: 11px;
}


.cart-item, .cart-items {
    margin-top: 20px;
    background: #111111;
}


.cart-label {
    font-size: 12px; /* fuente para las etiquetas (Cantidad, Nombre, Precio, Notas) */
}


.enviar-pedido-button {
    background-color: transparent;
    border: 0.5px solid white;
    color: white;
    padding: 5px 10px;
    font-size: 11px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    float: right;
}


.enviar-pedido-button:hover,
.enviar-pedido-button:active {
    background-color: var(--gold-crayola);
    color: black;
    font-weight: bold;
}


.total-text {
    margin-top: 5px;
    margin-bottom: 5px;
    background: transparent;
    font-size: 12px;
}


/* MEDIA QUERIES */
 
 
@media (max-width:1180px){
    html{
        font-size: 55%;
    }


    header{
        padding: 1rem 2rem;
    }
    

    /*Side bar*/
    .cart-text, .close-btn{
        margin-top: 130px;
        font-size: 12px;
    }
   
    .underline {
        margin-top: 10px;
    }

    .cart-sidebar {
        right: -300px; /* Inicialmente oculto fuera del viewport */

        width: 300px; /* Ancho más grueso para celulares */
    }

    .indicaciones-esp {
        border: 1px solid rgb(32, 31, 31);
        resize: none;
        width: 95%;
        height: 100%;
        background-color: #111111;
        color: white;
        margin: 0 auto; /* Centra horizontalmente */
        display: flex;
        justify-content: center; /* Centra horizontalmente */
        align-items: center; /* Centra verticalmente */
    }

       /* body.modal-open{
        overflow: hidden;
    }
    */

        /*Side bar*/
    .cart-text, .close-btn{
        margin-top: 130px;
        font-size: 12px;
    }

    .cart-notes, .cart-add{
        font-size: 12px;
    }
   
    .underline {
        margin-top: 10px;
    }
    
}


@media (max-width: 600px) {


    
    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: rgb(0, 0, 0);
        border-top: .1rem solid rgba(255, 255, 255, 0.2) ;
        padding: 1rem;
        white-space: nowrap;
        overflow-x: auto;
        scrollbar-width: none;
    }


    header .navbar::-webkit-scrollbar {
        display: none;
    }


    main {
        margin-top: 150px;
    }


    .producto {
        padding: 12px;
        margin: 10px;
        text-align: center;
   
        width: 150px;
        margin: 10px;
      }


      #sanguches-container, #salchipapas-container, #choripapas-container, #parrilladas-container, #refrescos-container, #infusiones-container,  #tomar-container{
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        /* Creará tantas columnas como quepan en el contenedor,
           pero cada columna será de al menos 150px de ancho */
    }


    .platos section{
        scroll-margin-top:120px;
   
    }

    .cart-sidebar {
        right: -250px; /* Inicialmente oculto fuera del viewport */

        width: 250px; /* Ancho más grueso para celulares */
    }


    .indicaciones-esp {
        border: 1px solid rgb(32, 31, 31);
        resize: none;
        width: 95%;
        height: 100%;
        background-color: #111111;
        color: white;
        margin: 0 auto; /* Centra horizontalmente */
        display: flex;
        justify-content: center; /* Centra horizontalmente */
        align-items: center; /* Centra verticalmente */
    }
   /* body.modal-open{
        overflow: hidden;
    }
*/
    .modal {
        display: none; /* Mantén el display:none para el inicio */
        position: fixed;
        z-index: 20000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.9); /* Fondo oscuro semi-transparente */
        align-items: center; /* Alinea verticalmente al centro */
        justify-content: center; /* Alinea horizontalmente al centro */
        margin: 0; /* Sin márgenes */
    }

    .modal-content {
        position: absolute; /* Posición absoluta para centrar */
        top: 50%; /* Mueve el elemento al 50% desde arriba */
        left: 50%; /* Mueve el elemento al 50% desde la izquierda */
        transform: translate(-50%, -50%); /* Lo desplaza hacia arriba y hacia la izquierda en relación con sus propias dimensiones */
        background-color: #111111;
        width: 95%;
        max-width: 650px; /* Ancho máximo opcional */
        padding: 20px;
        text-align: center;
        color: white;
        border-radius: 10px; /* Añadir un borde redondeado opcional */
    }


    /*Side bar*/
    .cart-text, .close-btn{
        margin-top: 130px;
        font-size: 12px;
    }

    .cart-notes, .cart-add{
        font-size: 12px;
    }
   
    .underline {
        margin-top: 10px;
    }

}

