.input-name,  .close-btn{
    font-size: 12px; 
    margin-top: 100px; 
    background-color: transparent; 
}

.cart-text{
    margin-top: 10px;
    background-color: transparent; 
}


.required {
    color: red;  /* Color rojo para indicar que es obligatorio */
    margin-left: 4px; /* Espacio a la izquierda para no pegarse al input */
    vertical-align: middle; /* Alineación vertical para que quede centrado con el texto del input */
    background-color: transparent; 

}
.cart-items {
    max-height: calc(100vh - 200px); /* Ajusta esta altura según sea necesario */
    overflow-y: auto; /* Permite el desplazamiento vertical dentro de la lista */
    margin-bottom: 20px; /* Añade un margen inferior para separar del total y botón */
}


.customer-name {
    background: transparent;    /* Fondo transparente */
    color: white;               /* Color del texto blanco */
    border-radius: 5px;         /* Bordes redondeados */
    font-size: 12px;            /* Tamaño de fuente de 12px */
    padding: 0px;               /* Un poco de relleno para hacerlo más fácil de escribir */
    font-weight: bold;          /* Texto en negrita */
    display: inline-block;             /* Hacer que el input sea un bloque para facilitar la alineación */
    width: 85%;                 /* Ajustar el ancho al 50% del contenedor */
}


@media (max-width: 768px) {

    .input-name, .close-btn{
        margin-top: 130px; 
        font-size: 12px;
    }
 
}